# ======================
# Frontend (React / Node)
# ======================
frontend/node_modules/
frontend/build/

# ======================
# Backend (Python)
# ======================
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/reports.db
analysis_part_3/__pycache__/
analysis_part_3/*.pyc
analysis_part_3/reports.db
analysis_part_3/venv/

# ======================
# Environment variables
# ======================
backend/.env

# ======================
# OS files
# ======================
.DS_Store
Thumbs.db